@charset "utf-8";

#wrap {background: #000; }
#wrap .bg { background: url('../images/bg_2.png')no-repeat center center;  height: 13033px;}

#main {position: relative; height: 807px; }
#main img:nth-child(1) {position: absolute; right: 0px; top: 25px;}
#main img:nth-child(2) {position: absolute; left: 150px; top: 80px;}
#main img:nth-child(3) {position: absolute; right: -50px; top: 245px;}
#main img:nth-child(4) {position: absolute; left: 0px; bottom: 0px;}


#page_2 {position: relative; height: 992px; } 
#page_2 img:nth-child(1) { position: absolute; right: 80px; top: 98px; }
#page_2 img:nth-child(2) { position: absolute; left: 50%; top: 470px; transform: translateX(-50%);}

#page_2 img:nth-child(3) { position: absolute; left: 230px; bottom: 0px;}
#page_2 img:nth-child(4) { position: absolute; left: 450px; bottom: 0px; }
#page_2 img:nth-child(5) { position: absolute; right: 275px; bottom: 0px; }


#page_3_1 {position: relative; height: 505px;}
#page_3_1 img:nth-child(1) {position: absolute; left: 80px; top: 250px;}
#page_3_1 img:nth-child(2) {position: absolute; right: 0; top: 180px;}


#page_3_2 {position: relative; height: 625px;}
#page_3_2 img:nth-child(1) {position: absolute; left: 90px; bottom: 0;}
#page_3_2 img:nth-child(2) {position: absolute; right: 110px; bottom: 0;}


#page_4_1 { position: relative; height: 394px;}
#page_4_1 img:nth-child(1) { position: absolute; left: 0; bottom: 0;}
#page_4_1 img:nth-child(2) { position: absolute; right: 80px; bottom: 15px;}


#page_4_2 { position: relative; height: 1089px;}
#page_4_2 img:nth-child(1) {position: absolute; left: 80px; top: 187px;}
#page_4_2 img:nth-child(2) {position: absolute; right: 137px; top: 277px;}
#page_4_2 img:nth-child(3) {position: absolute; left: 0; bottom: 0;}


#page_5 { position: relative; height: 911px;}
#page_5 img:nth-child(1) {position: absolute; right: 80px; top: 213px;}
#page_5 img:nth-child(2) {position: absolute; left: 72px; bottom: 0;}
#page_5 img:nth-child(3) {position: absolute; left: 72px; bottom: 0;}


#page_6 { position: relative; height: 2213px;}
#page_6 img:nth-child(1) { position: absolute; left: 50%; top: 313px; transform: translateX(-50%); }
#page_6 img:nth-child(2) { position: absolute; right: 60px; bottom: 0;  }
#page_6 img:nth-child(3) { position: absolute; left: 20px; bottom: 10px;  }


#page_7 {position: relative; height: 1164px; }
#page_7 img:nth-child(1) { position: absolute; left: 60px; bottom: 0;}
#page_7 img:nth-child(2) { position: absolute; right: 60px; bottom: 113px;}


#page_8 {position: relative; height: 1046px; }
#page_8 img:nth-child(1) { position: absolute; right: 50px; bottom: 0;}
#page_8 img:nth-child(2) { position: absolute; left: 20px; bottom: 10px;  }


#page_9 {position: relative; height: 1075px; }
#page_9 img:nth-child(1) { position: absolute; left: 60px; bottom: 0;}
#page_9 img:nth-child(2) { position: absolute; right: 60px; bottom: 113px;}


#page_10 {position: relative; height: 1045px; }
#page_10 img:nth-child(1) { position: absolute; right: 300px; top: 275px;}
#page_10 img:nth-child(2) { position: absolute; right: 45px; bottom: 0;}


#mockup {position: relative; height: 1165px; width: 1920px;}
#mockup img { position: absolute; bottom: 0; left: 0;}